In [59]:
#1. 𝗖𝗿𝗲𝗮𝘁𝗲 𝗮 𝗳𝗶𝗹𝗲 𝗻𝗮𝗺𝗲𝗱 data.txt, 𝘄𝗿𝗶𝘁𝗲 𝟯 𝗹𝗶𝗻𝗲𝘀 𝗼𝗳 𝘁𝗲𝘅𝘁 𝗶𝗻 𝗶𝘁 𝘂𝘀𝗶𝗻𝗴 write mode, 𝘁𝗵𝗲𝗻 𝗰𝗹𝗼𝘀𝗲 𝘁𝗵𝗲 𝗳𝗶𝗹𝗲.
file = open("data.txt", "w")
file.write("This is line 1\n")
file.write("This is line 2\n")
file.write("This is line 3\n")
file.close()

In [60]:
#2. 𝗢𝗽𝗲𝗻 data.txt 𝗶𝗻 read mode, 𝗿𝗲𝗮𝗱 𝗮𝗹𝗹 𝗹𝗶𝗻𝗲𝘀, 𝗮𝗻𝗱 𝗽𝗿𝗶𝗻𝘁 𝗲𝗮𝗰𝗵 𝗹𝗶𝗻𝗲 𝗼𝗻𝗲 𝗯𝘆 𝗼𝗻𝗲.
file = open("data.txt", "r")
for line in file:
    print(line.strip())
file.close()

This is line 1
This is line 2
This is line 3

In [61]:
#3. 𝗨𝘀𝗲 readlines() 𝘁𝗼 𝗿𝗲𝗮𝗱 𝗮𝗹𝗹 𝗹𝗶𝗻𝗲𝘀 𝗮𝗻𝗱 𝗽𝗿𝗶𝗻𝘁 𝗲𝗮𝗰𝗵 𝗹𝗶𝗻𝗲 𝘄𝗶𝘁𝗵 𝗶𝘁𝘀 𝗹𝗶𝗻𝗲 𝗻𝘂𝗺𝗯𝗲𝗿.
file = open('data.txt', 'r')
lines = file.readlines()
for i in range(len(lines)):
  print(f"{i+1}: {lines[i].strip()}")
file.close()

1: This is line 1
2: This is line 2
3: This is line 3

In [62]:
#4. 𝗢𝗽𝗲𝗻 data.txt 𝗶𝗻 append mode, 𝗮𝗱𝗱 𝗮 𝗻𝗲𝘄 𝗹𝗶𝗻𝗲, 𝘁𝗵𝗲𝗻 𝗿𝗲𝗮𝗱 𝗮𝗻𝗱 𝗽𝗿𝗶𝗻𝘁 𝘁𝗵𝗲 𝘂𝗽𝗱𝗮𝘁𝗲𝗱 𝗰𝗼𝗻𝘁𝗲𝗻𝘁.
with open("data.txt", "a") as file:
  data = file.write("This is another line")
with open("data.txt", "r") as file:
  content = file.read()
  print(content)

This is line 1
This is line 2
This is line 3
This is another line

In [63]:
#5. 𝗨𝘀𝗲 with open() 𝘀𝘁𝗮𝘁𝗲𝗺𝗲𝗻𝘁 𝘁𝗼 𝗼𝗽𝗲𝗻 𝘁𝗵𝗲 𝗳𝗶𝗹𝗲 𝗶𝗻 read mode, 𝗮𝗻𝗱 𝘂𝘀𝗲 𝗮 𝗹𝗼𝗼𝗽 𝘁𝗼 𝗽𝗿𝗶𝗻𝘁 𝗲𝗮𝗰𝗵 𝗹𝗶𝗻𝗲 𝘄𝗶𝘁𝗵 𝗻𝘂𝗺𝗯𝗲𝗿𝘀.
with open("data.txt", "r") as file:
  i = 1
  for line in file:
    print(f"{i}: {line.strip()}")
    i += 1

1: This is line 1
2: This is line 2
3: This is line 3
4: This is another line

In [64]:
#6. 𝗖𝗿𝗲𝗮𝘁𝗲 numbers.txt, 𝘄𝗿𝗶𝘁𝗲 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝟭 𝘁𝗼 𝟭𝟬 (𝗼𝗻𝗲 𝗽𝗲𝗿 𝗹𝗶𝗻𝗲), 𝗿𝗲𝗮𝗱 𝗳𝗶𝗹𝗲 𝗮𝗻𝗱 𝗽𝗿𝗶𝗻𝘁 𝘁𝗵𝗲 𝘀𝘂𝗺 𝗼𝗳 𝗮𝗹𝗹 𝗻𝘂𝗺𝗯𝗲𝗿𝘀
with open("numbers.txt", "w") as file:
  for i in range(10):
    file.write(f"{i + 1}\n")
with open("numbers.txt", "r") as file:
  sum = 0
  for line in file:
    sum += int(line.strip())
  print(sum)

55

In [66]:
#7. 𝗖𝗿𝗲𝗮𝘁𝗲 even_numbers.txt 𝗮𝗻𝗱 𝘄𝗿𝗶𝘁𝗲 𝗮𝗹𝗹 𝗲𝘃𝗲𝗻 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝗳𝗿𝗼𝗺 𝟭 𝘁𝗼 𝟱𝟬 𝘂𝘀𝗶𝗻𝗴 𝗮 𝗹𝗼𝗼𝗽.
with open("even_numbers.txt", "w") as file:
  for i in range(1, 51):
    if i%2 == 0:
      file.write(f"{i}\n")

In [67]:
#8.  𝗖𝗿𝗲𝗮𝘁𝗲 students.txt 𝗮𝗻𝗱 𝘄𝗿𝗶𝘁𝗲 𝗻𝗮𝗺𝗲𝘀 𝗼𝗳 𝘀𝘁𝘂𝗱𝗲𝗻𝘁𝘀. 𝗥𝗲𝗮𝗱 𝗳𝗶𝗹𝗲, 𝗽𝗿𝗶𝗻𝘁 𝗻𝗮𝗺𝗲𝘀 𝘄𝗶𝘁𝗵 𝗰𝗵𝗮𝗿𝗮𝗰𝘁𝗲𝗿 𝗰𝗼𝘂𝗻𝘁 𝘂𝘀𝗶𝗻𝗴 len().
with open("students.txt", "w") as file:
  file.write("Ali\n")
  file.write("Ahmed\n")
  file.write("Usman\n")
with open("students.txt", "r") as file:
  for line in file:
    print(f"{line.strip()}, length of name:{len(line.strip())}")

Ali, length of name:3
Ahmed, length of name:5
Usman, length of name:5

In [69]:
#9. 𝗥𝗲𝗮𝗱 info.txt, 𝗰𝗵𝗲𝗰𝗸 𝗶𝗳 "Python" 𝗲𝘅𝗶𝘀𝘁𝘀. 𝗜𝗳 𝘁𝗿𝘂𝗲, 𝗽𝗿𝗶𝗻𝘁 "Python found", 𝗲𝗹𝘀𝗲 𝗽𝗿𝗶𝗻𝘁 "Not found".
with open("info.txt", "w") as file:
  file.write("I love Python".lower())
with open("info.txt", "r") as file:
  for line in file:
    if "python" in line:
      print("Python found")
    else:
      print("Not found")

Python found

In [70]:
#10. 𝗥𝗲𝗮𝗱 𝗮 𝗳𝗶𝗹𝗲, 𝗰𝗼𝗻𝘃𝗲𝗿𝘁 𝗮𝗹𝗹 𝘁𝗲𝘅𝘁 𝘁𝗼 uppercase, 𝘄𝗿𝗶𝘁𝗲 𝘁𝗼 output.txt.
with open("info.txt", "r") as file:
  for line in file:
    upper = line.strip().upper()
with open("output.txt", "w") as file:
  file.write(upper)