In [6]:
#1. 𝗣𝗿𝗶𝗻𝘁 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝗳𝗿𝗼𝗺 𝟭 𝘁𝗼 𝟮𝟬 𝘂𝘀𝗶𝗻𝗴 𝗮 𝘄𝗵𝗶𝗹𝗲 𝗹𝗼𝗼𝗽۔
num = 1 
while num <= 20:
     print(num)
     num += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [7]:
#2. 𝗣𝗿𝗶𝗻𝘁 𝗲𝘃𝗲𝗿𝘆 𝟯𝗿𝗱 𝗻𝘂𝗺𝗯𝗲𝗿 𝗳𝗿𝗼𝗺 𝟯 𝘁𝗼 𝟯𝟬۔
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [8]:
#3. 𝗣𝗿𝗶𝗻𝘁 𝘁𝗵𝗲 𝘀𝘂𝗺 𝗼𝗳 𝗲𝘃𝗲𝗻 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝗳𝗿𝗼𝗺 𝟮 𝘁𝗼 𝟮𝟬۔
sm = 0
for i in range(2,21):
    if i%2 == 0:
        sm += i
print(sm)

110

In [9]:
#4. 𝗣𝗿𝗶𝗻𝘁 𝘁𝗵𝗲 𝗽𝗿𝗼𝗱𝘂𝗰𝘁 𝗼𝗳 𝗼𝗱𝗱 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝗳𝗿𝗼𝗺 𝟭 𝘁𝗼 𝟵۔
product = 1
for i in range(1,10):
    if i%2 != 0:
        product *= i
print(product)

945

In [10]:
#5. 𝗖𝗿𝗲𝗮𝘁𝗲 𝗮 𝗹𝗶𝘀𝘁 𝗼𝗳 𝟱 𝗻𝗮𝗺𝗲𝘀 𝗮𝗻𝗱 𝗽𝗿𝗶𝗻𝘁 𝗲𝗮𝗰𝗵 𝗻𝗮𝗺𝗲 𝗼𝗻 𝗮 𝗻𝗲𝘄 𝗹𝗶𝗻𝗲۔
names = ["Hassaan", "Nehan", "Ali", "Hamza", "Usman"]
for name in names:
    print(name)

Hassaan
Nehan
Ali
Hamza
Usman

In [11]:
#6. 𝗖𝗼𝘂𝗻𝘁 𝗵𝗼𝘄 𝗺𝗮𝗻𝘆 𝗹𝗲𝘁𝘁𝗲𝗿𝘀 '𝗮' 𝗮𝗿𝗲 𝗶𝗻 𝘁𝗵𝗲 𝘄𝗼𝗿𝗱 "𝗯𝗮𝗻𝗮𝗻𝗮".
fruit = "banana"
print(fruit.count("a"))

3

In [12]:
#7. 𝗣𝗿𝗶𝗻𝘁 𝗼𝗻𝗹𝘆 𝘁𝗵𝗲 𝗻𝗲𝗴𝗮𝘁𝗶𝘃𝗲 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝗳𝗿𝗼𝗺 𝗮 𝗴𝗶𝘃𝗲𝗻 𝗹𝗶𝘀𝘁۔
giv_list = [1, -2, 7, -12, -20, 25]
for num in giv_list:
    if num < 0:
        print(num)

-2
-12
-20

In [13]:
#8. 𝗣𝗿𝗶𝗻𝘁 𝗼𝗻𝗹𝘆 𝘁𝗵𝗲 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝗲𝗻𝗱𝗶𝗻𝗴 𝗶𝗻 𝟱 𝗳𝗿𝗼𝗺 𝟭 𝘁𝗼 𝟱𝟬۔
for num in range(1,51):
    if num%5 == 0 and num%10 != 0:
        print(num)

5
15
25
35
45

In [14]:
#9. 𝗣𝗿𝗶𝗻𝘁 𝘁𝗵𝗲 𝗹𝗲𝗻𝗴𝘁𝗵 𝗼𝗳 𝗲𝗮𝗰𝗵 𝘄𝗼𝗿𝗱 𝗶𝗻 𝘁𝗵𝗲 𝗹𝗶𝘀𝘁 ["cat", "elephant", "bat"]۔
animals = ["cat", "elephant", "bat"]
for animal in animals:
    print(len(animal))

3
8
3

In [15]:
#10.  𝗧𝗮𝗸𝗲 𝟯 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝗮𝘀 𝗶𝗻𝗽𝘂𝘁 𝗳𝗿𝗼𝗺 𝘁𝗵𝗲 𝘂𝘀𝗲𝗿 𝗮𝗻𝗱 𝗽𝗿𝗶𝗻𝘁 𝘁𝗵𝗲𝗶𝗿 𝗮𝘃𝗲𝗿𝗮𝗴𝗲۔
num1 = int(input("Enter first number here: "))
num2 = int(input("Enter second number here: "))
num3 = int(input("Enter third number here: "))
add_num = num1 + num2 + num3
average = add_num / 3
print(average)

5.333333333333333

In [16]:
#11. 𝗣𝗿𝗶𝗻𝘁 𝘁𝗵𝗲 𝘁𝗮𝗯𝗹𝗲 𝗼𝗳 𝟱 𝗶𝗻 𝗿𝗲𝘃𝗲𝗿𝘀𝗲 (𝗳𝗿𝗼𝗺 𝟱×𝟭𝟬 𝘁𝗼 𝟱×𝟭)۔
for i in range(10, 0, -1):
    print(f"5 * {i} = {5 * i}")

5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

In [17]:
#12.  𝗨𝘀𝗲 𝗮 𝗳𝗼𝗿 𝗹𝗼𝗼𝗽 𝘁𝗼 𝗽𝗿𝗶𝗻𝘁 𝗮𝗹𝗹 𝗰𝗵𝗮𝗿𝗮𝗰𝘁𝗲𝗿𝘀 𝗶𝗻 "𝗣𝘆𝘁𝗵𝗼𝗻 𝗜𝘀 𝗙𝘂𝗻"۔
sentence = "Python is fun"
for letters in sentence:
    print(letters)

P
y
t
h
o
n

i
s

f
u
n

In [22]:
#13. 𝗖𝗿𝗲𝗮𝘁𝗲 𝗮 𝗹𝗶𝘀𝘁 𝗼𝗳 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝗮𝗻𝗱 𝗽𝗿𝗶𝗻𝘁 𝗲𝘃𝗲𝗿𝘆 𝘀𝗲𝗰𝗼𝗻𝗱 𝗶𝘁𝗲𝗺۔
num_list = [3, 5, 6, 13, 34, 56, 67]
print(num_list[1::2])

[5, 13, 56]

In [26]:
#14. 𝗧𝗮𝗸𝗲 𝗮 𝘄𝗼𝗿𝗱 𝗳𝗿𝗼𝗺 𝘁𝗵𝗲 𝘂𝘀𝗲𝗿 𝗮𝗻𝗱 𝗰𝗼𝘂𝗻𝘁 𝗵𝗼𝘄 𝗺𝗮𝗻𝘆 𝗰𝗼𝗻𝘀𝗼𝗻𝗮𝗻𝘁𝘀 𝗶𝘁 𝗵𝗮𝘀۔
cons = 0
word = input("Enter a word here: ")
for letter in word:
  if letter not in "aeiouAEIOU":
    cons += 1
print(cons)

5

In [27]:
#15. 𝗣𝗿𝗶𝗻𝘁 𝘁𝗵𝗲 𝗰𝘂𝗯𝗲𝘀 𝗼𝗳 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝗳𝗿𝗼𝗺 𝟭 𝘁𝗼 𝟱۔
for i in range(1, 6):
    print(i ** 3)

1
8
27
64
125

In [28]:
#16.  𝗧𝗮𝗸𝗲 𝗮 𝗹𝗶𝘀𝘁 𝗼𝗳 𝘄𝗼𝗿𝗱𝘀 𝗮𝗻𝗱 𝗽𝗿𝗶𝗻𝘁 𝘁𝗵𝗼𝘀𝗲 𝘁𝗵𝗮𝘁 𝘀𝘁𝗮𝗿𝘁 𝘄𝗶𝘁𝗵 '𝗮'۔
names = ["ali", "ahmed", "sara", "usman"]
for name in names:
    if name.startswith("a"):
        print(name)

ali
ahmed

In [40]:
#17. 𝗨𝘀𝗲 𝗮 𝗹𝗼𝗼𝗽 𝘁𝗼 𝗽𝗿𝗶𝗻𝘁 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝗯𝗲𝘁𝘄𝗲𝗲𝗻 𝟭𝟬𝟬 𝗮𝗻𝗱 𝟭𝟭𝟬 (𝗲𝘅𝗰𝗹𝘂𝗱𝗶𝗻𝗴 𝟭𝟬𝟱)۔
for i in range(100, 111):
    if i == 105:
        continue
    print(i)

100
101
102
103
104
106
107
108
109
110

In [41]:
#18. 𝗣𝗿𝗶𝗻𝘁 𝘁𝗵𝗲 𝗳𝗶𝗿𝘀𝘁 𝟱 𝗽𝗼𝘀𝗶𝘁𝗶𝘃𝗲 𝗺𝘂𝗹𝘁𝗶𝗽𝗹𝗲𝘀 𝗼𝗳 𝟰۔
for num in range(1,5):
    print(5 * num)

5
10
15
20

In [43]:
#19. 𝗣𝗿𝗶𝗻𝘁 𝗲𝗮𝗰𝗵 𝘄𝗼𝗿𝗱 𝗶𝗻 𝘁𝗵𝗲 𝘀𝗲𝗻𝘁𝗲𝗻𝗰𝗲 "𝗖𝗼𝗱𝗶𝗻𝗴 𝗶𝘀 𝗲𝗮𝘀𝘆" 𝗼𝗻 𝗮 𝗻𝗲𝘄 𝗹𝗶𝗻𝗲۔
sentence = "Coding is easy"
words = sentence.split()
for word in words:
    print(word)

Coding
is
easy

In [44]:
#20. **𝗖𝗿𝗲𝗮𝘁𝗲 𝗮 𝗻𝘂𝗺𝗯𝗲𝗿 𝗹𝗶𝘀𝘁 𝗮𝗻𝗱 𝗽𝗿𝗶𝗻𝘁 𝗼𝗻𝗹𝘆 𝗲𝘃𝗲𝗻 𝗻𝘂𝗺𝗯𝗲𝗿𝘀 𝘂𝘀𝗶𝗻𝗴 𝗰𝗼𝗻𝗱𝗶𝘁𝗶𝗼𝗻𝘀 𝗶𝗻 𝗹𝗼𝗼𝗽.
num_list = [1, 2,4 ,6, 7, 23, 45, 67, 87, 94]
for num in num_list:
    if num%2 == 0:
        print(num)

2
4
6
94